PORT=3000
DATABASE_URL=postgresql://forkity:forkity_dev@localhost:5432/forkity
POSTGRES_DB=forkity
POSTGRES_USER=forkity
POSTGRES_PASSWORD=forkity_dev
FORKIFY_API_URL=https://forkify-api.jonas.io/api/v2/recipes
SESSION_SECRET='b1a56b05-a4a7-41aa-a75a-da3b90b73293'