PORT=3000
DATABASE_URL=postgresql://forkity:forkity_dev@localhost:5432/forkity
POSTGRES_DB=forkity
POSTGRES_USER=forkity
POSTGRES_PASSWORD=forkity_dev
FORKIFY_API_URL=https://forkify-api.herokuapp.com/api/v2/recipes/
FORKIFY_API_KEY=replace_with_your_key
SESSION_SECRET=replace_with_a_long_random_secret